<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in with your account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="container">

    <form method="POST" th:object="${userForm}" class="form-signin">
        <h2 class="form-signin-heading">Create your account</h2>
        <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
            <input type="text" th:field="*{username}" class="form-control" placeholder="Username" autofocus="true" />
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</p>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <input type="password" th:field="*{password}" class="form-control" placeholder="Password" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error'">
            <input type="password" th:field="*{passwordConfirm}" class="form-control" placeholder="Confirm your password" />
            <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Incorrect password confirmation</p>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

</div>
</body>
</html>